<div class="container" ng-controller="BlogpostController">
 <span class="error" ng-show="error.message"> {{error.message}}<!-- Unable to insert blogpost details  -->
</span>
<div class="container" ng-controller="BlogpostController">
	
<div class="form-group">
		<div class="form-group">
		<form role="form" method="post">
			<label>Blog Title</label> 
			<input type="text" ng-model="blog.blogTitle" class="form-control">
		</div>
		<div class="form-group">
			<label>Content</label>
			<textarea rows="4" cols="15" ng-model="blog.blogContent" class="form-control"></textarea>
				
				<button id="submit" name="submit" class="btn btn-primary" ng-click="addBlod(blog)">Bold</button>
			   <button id="submit" name="submit" class="btn btn-primary" ng-click="addParagraph(blog)">Paragraph</button>
			   <button id="submit" name="submit" class="btn btn-primary" ng-click="addBreak(blog)">Break</button>
			
			Add Heading<select ng-model="heading">
				<option	value="<h1><//h1>" ng-click="addHeading(blog)">h1
				<option value="<h2><//h2>" ng-click="addHeading(blog)">h2
				<option value="<h3></h3>" ng-click="addHeading(blog)">h3
				<option value="<h4></h4>" ng-click="addHeading(blog)">h4
				<option value="<h5></h5>" ng-click="addHeading(blog)">h5
				<option value="<h6></h6>" ng-click="addHeading(blog)">h6
				<option></select>
				<button id="submit" name="submit" class="btn btn-primary" ng-click="addBlog(blog)">Add Blog</button>
		</div>
		</div>
		</div>
		
        
		
	</form>

</div>
